body {
    background: black;
    
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: 0;
    background-color:black;
    
}

.game{
    /* Upscale the resolution*/
    margin:auto;
    width:1024px;
    height: 600px;
    margin-top: 30px;
}
